<div class="container">
  <div class="row">
    <img class="company-logo" src="assets/images/logo.svg" alt="cash">
  </div>
<!--  <div class="row">-->
<!--    <div class="col text-center">-->
<!--      <img src="../assets/images/me.jpg" alt="Robert Rosentrater">-->
<!--    </div>-->
<!--  </div>-->
  <div class="row">
    <p class="text-center">Wow this is like a paragraph of some marketing bs about how great of a repairman scott is</p>
  </div>
  <div class="text-center">
    <h2>Servicing Salem NH, and surrounding communities</h2>
    <img class="img-fluid" src="assets/images/aoe.png" alt="Serviced areas">
  </div>
  <p>some wurds</p>
  <p>some wurds</p>
  <p>some wurds</p>
  <p>some wurds</p>
  <p>some wurds</p>
</div>
