<div class="container">
  <div class="row">
    <img class="company-logo" src="assets/images/logo.svg" alt="cash">
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h3>Dishwasher repair experts</h3>
      <p>A dishwasher does more than just clean your dirty dishes – it gives you peace of mind that you and your family
        are eating in sanitary conditions. </p>
      <p>When your dishwasher breaks down, get it repaired quickly and affordably by our professional technicians –
        satisfaction guaranteed and a one year warranty on all repairs!</p>
      <h3>Get help you can count on</h3>
      <p>When you trust our team to handle your dishwasher repairs, you'll get help when you need it and done to your
        specifications. We always provide competitive rates and outstanding workmanship for all services, including
        those for refrigerators, freezers, and stoves.</p>
    </div>
    <div class="col-sm-6">
      <img class="img-fluid appliance-image" src="assets/images/pexel_images/pexels-dishwasher1.jpg" alt="Dishwasher">
    </div>
  </div>
  <div class="row">
    <h3>Let us help with all dishwasher problems, including:</h3>
    <ul>
      <li>Leaks and drainage problems</li>
      <li>Clogged filters</li>
      <li>Broken control panels</li>
    </ul>
    <h3>We work on the following brands:</h3>
    <ul class="brands">
      <li>Admiral</li>
      <li>Amana</li>
      <li>Bosch</li>
      <li>Caloric</li>
      <li>Coldspot</li>
      <li>Estate</li>
      <li>Electrolux</li>
      <li>Fisher & Paykel</li>
      <li>Frigidaire</li>
      <li>GE</li>
      <li>Gibson</li>
      <li>Roper</li>
      <li>Sears</li>
      <li>Signature</li>
      <li>Speed Queen</li>
      <li>Tappan</li>
      <li>Westinghouse</li>
      <li>Whirlpool</li>
      <li>Haier</li>
      <li>Hardwick</li>
      <li>Hotpoint</li>
      <li>JCPenny</li>
      <li>Jenn-Air</li>
      <li>Kelvinator</li>
      <li>Kenmore</li>
      <li>Kitchenaid</li>
      <li>LG</li>
      <li>Magic Chef</li>
      <li>Maytag</li>
      <li>Norge</li>
      <li>Philco</li>
    </ul>
  </div>
</div>
