<div class="container">
  <div class="row text-center">
    <img class="company-logo" src="assets/images/logo.svg" alt="cash">
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h3>Receive expert service on major brands</h3>
      <p>Scott's Appliance Repair Service has the knowledge and experience it takes to tackle any job, on any
        appliance, of any make and model. All services are backed by a 30 day warranty on labor and a
        90 day warranty on all parts! Get the most out of your appliances by contacting us now.</p>
      <div class="row">
        <div class="col-sm-6">
          <h3>No repair is too big or small</h3>
          <p>No repair is too big or small</p>
          <ul>
            <li>Microwaves</li>
            <li>Ranges</li>
            <li>Disposals</li>
            <li>Stoves</li>
            <li>Dishwashers</li>
            <li>Trash compactors</li>
            <li>Refrigerators</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h3>Get repairs that last</h3>
          <p>It can be extremely frustrating when your home appliances begin to show signs of failure.
            New units are expensive and time consuming to have delivered and installed.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <img class="img-fluid appliance-image" src="assets/images/pexel_images/pixabay-AC1.jpg" alt="Dishwasher">
    </div>
  </div>
  <div class="row">
    <h3>Appliance Repair Services:</h3>
    <ul class="services">
      <li>Air Conditioners</li>
      <li>Washers</li>
      <li>Dryers</li>
      <li>Dishwashers</li>
      <li>Stove & ovens</li>
      <li>Microwaves</li>
      <li>Refrigerators</li>
      <li>Freezers</li>
      <li>Ice Makers</li>
      <li>Garbage Compactors</li>
      <li>Garbage Disposals</li>
    </ul>
  </div>
</div>
