.payment-logo {
  width: calc(50% - 10px);
  margin: 5px;
  fill: limegreen;
}

.telephone-logo {
  width: 30%;
  margin-right: 10px;
}

.call-header {
  margin: 20px 0;
  align-items: center;
  display: flex;
}

.logo-container {
  /*width: 100%;*/
  margin: auto;
}
.company-logo {
  margin: auto;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
