<div class="container">
  <div class="row">
    <h1 class="call-header">
      <img class="telephone-logo" src="assets/bootstrap-icons/telephone-fill.svg" alt="phone">
      Call Today!
      <div class="text-center logo-container">
        <img class="company-logo" src="assets/images/logo.svg" alt="cash">
      </div>
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>
        Put your trust in over 20 years of appliance repair experience.
        Call Scott's Appliance Repair Service today for courteous, reliable, and expert service.
      </p>
      <p>
        We serve Salem, NH and surrounding communities.
      </p>
      <div class="row">
        <div class="col-6">
          <b>Phone:</b><br>
          <a href="tel:{{nhContactString}}">{{nhContactString}}</a><br>
          or<br>
          <a href="tel:{{maContactString}}">{{maContactString}}</a><br>
          <b>Hours:</b><br>
          Monday - Friday<br>
          8:00AM - 4:00PM
        </div>
        <div class="col-6 text-center">
          <b>We Accept:</b><br>
          <img class="payment-logo" src="assets/images/Personal-check-logo.png">
          <div>
            <img class="payment-logo cash-logo" src="assets/bootstrap-icons/cash-stack.svg" alt="cash">
            <br>
            <b class="cash">($ CASH $)</b>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h4>We stand behind our service</h4>
      <p>All workmanship is backed by a <b>30 day warranty</b>. If you have any issues with our service,
        please let us know and we'll do what we can to make it right.</p>
      <p>All parts are backed by a <b>90 day warranty</b>. Scott's Appliance Repair Service uses high quality parts
        in all repair services, and wants to make sure that your appliances will last you as long as possible.</p>
    </div>
  </div>
  <img class="img-fluid mb-4 truck-image" src="assets/images/work_van_stock.jpg" alt="Serviced areas">
</div>
