<div class="container">
  <div class="row">
    <h1>Bunch of fridge pictures. Banner or carousel idk</h1>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h3>Keep your kitchen in working order</h3>
      <p>Make sure your refrigerator and freezer are running smoothly and get them repaired quickly when they need it
        with us.</p>
      <p>The most important appliance in your kitchen is your refrigerator and freezer, because it keeps you and your
        family safe by preserving by and maintaining consistent temperatures. When your refrigerator needs a quick and
        affordable repair, Scott’s Appliance Repair Service is here to provide service for you. We can also fix your ice
        makers, so that your drinks are deliciously cool!</p>
      <h3>Serving all makes and models</h3>
      <p>No matter what size or style of freezer you have, from refrigerator / freezer combos to residential ice makers,
        our team can handle the repairs you need.</p>
    </div>
    <div class="col-sm-6">
      <!-- TODO: pic of a fridge -->
    </div>
  </div>
  <div class="row">
    <h3>Get your freezer back up and running again</h3>
    <p>Don't wait too long to call our technicians if your freezer stops working.
      Whether you need preventative maintenance to keep it going or you need help with systems that are not working
      properly, you can trust that our repair specialists will be always available for service.
    </p>
    <p>Let us help you to avoid losing expensive food. Call us right away for fast,
      reliable service from our factory-trained and insured technicians.</p>

    <h3>Trust us to get the job done in no time</h3>
    <p>Don't wait to call for your appliance repair needs. You can depend on our company's 20 years of experience to
      get the job done. Ask about our senior discounts and our other products such as
      freezers, stoves, dishwashers, dryers, and washing machines.</p>

    <h3>When calling us you can expect:</h3>
    <ul>
      <li>Prompt, efficient service</li>
      <li>Solid quote - No surprises</li>
      <li>Courteous and skilled in-home service professionals</li>
    </ul>
    <!-- TODO: Brands we like to work on -->
  </div>
</div>
