<div class="container">
  <div class="row">
    <img class="company-logo" src="assets/images/logo.svg" alt="cash">
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h3>Stop waiting forever for clean clothes</h3>
      <p>Is your washer leaving clothes soapy, or unclean smelling? Is your dryer taking longer than it should to dry
        your garments? Scott's Appliance Repair Service can help! For expert washer and dryer repair services,
        look no further than Scott's Appliance.</p>

      <h3>Get dependable repairs</h3>
      <p>Your washer and dryer can be a big investment, and ideally they'll last forever. Unfortunately most appliances
        will eventually run into wear and tear issues or worn out parts.</p>
      <p>We stand behind all of our repairs, and offer a 30 day warranty on all labor as well as a 90 day warranty on
        all parts! Rest easy knowing that once we've fixed your unit, it'll stay running for years to come.</p>
    </div>
    <div class="col-sm-6">
      <img class="img-fluid appliance-image" src="assets/images/pexel_images/pexels-dryer1.jpg" alt="Dryer">
    </div>
  </div>
  <div class="row">
    <h3>Serving most major brands</h3>
    <p>There's a huge range of makes and models of washers and dryers available. No matter what you've got, Scott's
      Appliance Repair Service has the experience necessary to get the job done.</p>
    <p>We're fully equipped to handle both gas and electric units, as well as top and front load models. Start getting
      the most out of your washer or dryer and call us today.</p>
    <h3>We work on the following brands:</h3>
    <ul class="brands">
      <li>Admiral</li>
      <li>Amana</li>
      <li>Bosch</li>
      <li>Caloric</li>
      <li>Coldspot</li>
      <li>Estate</li>
      <li>Electrolux</li>
      <li>Fisher & Paykel</li>
      <li>Frigidaire</li>
      <li>GE</li>
      <li>Gibson</li>
      <li>Roper</li>
      <li>Samsung</li>
      <li>Sears</li>
      <li>Signature</li>
      <li>Speed Queen</li>
      <li>Tappan</li>
      <li>Westinghouse</li>
      <li>Whirlpool</li>
      <li>Haier</li>
      <li>Hardwick</li>
      <li>Hotpoint</li>
      <li>JCPenny</li>
      <li>Jenn-Air</li>
      <li>Kelvinator</li>
      <li>Kenmore</li>
      <li>Kitchenaid</li>
      <li>LG</li>
      <li>Magic Chef</li>
      <li>Maytag</li>
      <li>Norge</li>
      <li>Philco</li>
    </ul>
  </div>
</div>
