<div class="container">
  <div class="row">
    <img class="company-logo" src="assets/images/logo.svg" alt="cash">
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h3>Cook to your heart's content</h3>
      <p>Don’t let your broken microwave, stove, or oven keep you from cooking that lunch or dinner –
        get it repaired fast and affordably with us!</p>
      <h3>We work on microwaves</h3>
      <p>Let it be to heat up popcorn, re-heat leftovers, or cook an entire meal,
        you want your microwave to work properly.</p>
      <p>When your microwave malfunctions make sure you get it repaired by our trusted professionals –
        plus a one year warranty on all services performed!</p>
      <h3>Oven and Cooktop Repair Experts</h3>
      <p>Always have your stove and oven heating properly, so you can cook at your convenience.
        The most used appliance for cooking is probably your stove or oven,
        and as such it can be a big hassle when it breaks down.</p>
      <p>When it does breakdown you need it repaired fast and reliably with professional care by our technicians –
        satisfaction guaranteed on all services!</p>
    </div>
    <div class="col-sm-6">
      <img class="img-fluid appliance-image" src="assets/images/pexel_images/pexels-stove2.jpg" alt="Stove">
    </div>
  </div>
  <div class="row">
    <ul class="brands">
      <li>Admiral</li>
      <li>Amana</li>
      <li>Bosch</li>
      <li>Caloric</li>
      <li>Coldspot</li>
      <li>Estate</li>
      <li>Electrolux</li>
      <li>Fisher & Paykel</li>
      <li>Frigidaire</li>
      <li>GE</li>
      <li>Gibson</li>
      <li>Roper</li>
      <li>Samsung</li>
      <li>Sears</li>
      <li>Signature</li>
      <li>Speed Queen</li>
      <li>Tappan</li>
      <li>Westinghouse</li>
      <li>Whirlpool</li>
      <li>Haier</li>
      <li>Hardwick</li>
      <li>Hotpoint</li>
      <li>JCPenny</li>
      <li>Jenn-Air</li>
      <li>Kelvinator</li>
      <li>Kenmore</li>
      <li>Kitchenaid</li>
      <li>LG</li>
      <li>Magic Chef</li>
      <li>Maytag</li>
      <li>Norge</li>
      <li>Philco</li>
    </ul>
  </div>
</div>
