/* You can add global styles to this file, and also import other style files */
body {
  background-color: #00adee !important; /* !important to override bootstrap */
}

ul {
  list-style-position: inside
}
ul.services li {
  font-size: 0.8em;
}

app-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
